[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "visStatistics"]
	path = visStatistics
	url = https://github.com/shhschilling/visstatistics
